<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Industries
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Search for an industry">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/apps/e-commerce/products/new'"
                    class="add-product-button fuse-white mt-24 mt-md-0" >
                <span>ADD NEW INDUSTRY</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table [dataSource]="dataSource"
                      
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="gid">
                    <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p >{{product._id}} </p>
                    </mat-cell>
                </ng-container>



                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p >{{product.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef>Node Details</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="" *ngFor="let peer of product.peers">
                            {{peer}}
                        </p>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="channel">
                    <mat-header-cell *matHeaderCellDef>Channel</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="">
                            {{product.channel}}
                        </p>
                    </mat-cell>
                </ng-container>
                <!-- Price Column -->
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef> Production</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <p class="price text-truncate">
                            50 mil
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef >No. of IoT Devices</mat-header-cell>
                    <mat-cell *matCellDef="let product">

       
                        <span>
                            1
                        </span>

                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef >Status of IoT device</mat-header-cell>
                    <mat-cell *matCellDef="let product" >
                        <mat-icon  class="active-icon green-600 s-16">check</mat-icon>
                        
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
               <section *ngIf="isAdmin=='admin'">
                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/apps/e-commerce/products/'+product.id+'/'+product.handle"
                         >
                </mat-row >
            </section>
            <section *ngIf="isAdmin!='admin'">
                <mat-row *matRowDef="let product; columns: displayedColumns;"
                         class="product"
                         matRipple
                         >
                </mat-row >
</section>
            </mat-table>



        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
