<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>



                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Indusrty
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Indusrty Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button"
                    [disabled]="productForm.invalid || productForm.pristine"
                    *ngIf="pageType ==='edit'" (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Industry Name</mat-label>
                                    <input matInput placeholder="Indusrty Name"
                                           name="name"
                                           formControlName="name"
                                           required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Indusrty Description</mat-label>
                                    <textarea matInput placeholder="Product Description"
                                              name="description"
                                              formControlName="description"
                                              rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Indusrty Email</mat-label>

                                    <input matInput placeholder="Email"
                                           name="email"
                                           formControlName="email"
                                           required>

                                </mat-form-field>


                                
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Password</mat-label>

    
                                        <input matInput placeholder="Password"
                                               name="password"
                                               type="password"
                                               formControlName="password"
                                               required>

                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Hyperledger Org</mat-label>

    
                                        <input matInput placeholder="Org"
                                               name="org"
                                               type="org"
                                               formControlName="org"
                                               required>

                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="IOT and Channel Details" fxLayout="column" fxFlex>
                            <div class="tab-content p-24">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Device ID</mat-label>
                                            <input matInput placeholder="deviceId"
                                                   name="deviceId"
                                                   formControlName="deviceId"
                                                   required>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Device Type</mat-label>
                                            <input matInput placeholder="deviceType"
                                                   name="deviceType"
                                                   formControlName="deviceType"
                                                   required>
                                        </mat-form-field>
            
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Boiler Id</mat-label>
                                            <input matInput placeholder="boilerId"
                                                   name="boilerId"
                                                   formControlName="boilerId"
                                                   required>
                                        </mat-form-field>
            
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Longitude</mat-label>
                                            <input matInput placeholder="longitude"
                                                   name="longitude"
                                                   formControlName="longitude"
                                                   required>
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Latitude</mat-label>
                                            <input matInput placeholder="latitude"
                                                   name="latitude"
                                                   formControlName="latitude"
                                                   required>
                                        </mat-form-field>
                            </div>

                        </mat-tab>

                        <mat-tab label="Channel Details">
                                <div class="tab-content p-24">
                                        <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                                <mat-label>Channel</mat-label>
                                                <input matInput placeholder="channel"
                                                       name="channel"
                                                       formControlName="channel"
                                                       required>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                                <mat-label>Delay</mat-label>
                                                <input matInput placeholder="delay"
                                                       name="delay"
                                                       formControlName="delay"
                                                       required>
                
                                            </mat-form-field>
                                </div>


                        </mat-tab>

                        <mat-tab label="Tax And Production Details">



                        </mat-tab>

                        <mat-tab label="Add more Entities">



                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
